<div class="comment">
  <div class="title"><span class="user"><%=h comment.user.login%></span><span class="title"><%=h comment.title%></span></div>
  <div class="content"><%=h comment.content%></div>
</div>