<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="cs" lang="cs">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
	<%= javascript_include_tag :defaults %>
	<title>rProxy :: <%= t(controller.controller_class_name.underscore, :scope => [:actioncontroller]).downcase %> : <%=t(controller.action_name, :scope => [controller.controller_class_name.underscore, :action ]).downcase%></title>
</head>
<body>
  <div id="header">
    <div id="menu">
      <%= render :partial => "shared/menu" %>
    </div>
  </div>
  <div id="body">
    <%unless flash[:notice].blank?%><div id="notice"><%=flash[:notice]%></div><%end%>
    <div id="text">
      <%= yield %>
    </div>
    <div id="sidebar">
      <div id="user_box">
        <%= render "users/user_box"%>
      </div>
      <%= yield :sidebar %>
    </div>
	</div>
	<div id="footer"><p>&copy;&nbsp;2009 Michal&nbsp;Cichra</p></div>
</body>
</html>